  <div class="container">
    <div class="row flew-row text-center">
      <input class="button col-sm border" value="C" readonly>
      <div class="button col-sm-3 border">/</div>
    </div>
    <div class="row flew-row text-center">
      <input class="button col-sm border" value="7" readonly>
      <input class="button col-sm border" value="8" readonly>
      <input class="button col-sm border" value="9" readonly>
      <input class="button col-sm border" value="x" readonly>
    </div>
    <div class="row flew-row text-center">
      <input class="button col-sm border" value="4" readonly>
      <input class="button col-sm border" value="5" readonly>
      <input class="button col-sm border" value="6" readonly>
      <input class="button col-sm border" value="-" readonly>
    </div>
    <div class="row flew-row text-center">
      <input class="button col-sm border" value="1" readonly>
      <input class="button col-sm border" value="2" readonly>
      <input class="button col-sm border" value="3" readonly>
      <input class="button col-sm border" value="+" readonly>
    </div>
    <div class="row text-center">
      <input class="button col-sm border" value="0" readonly>
      <input class="button col-sm-3  border" value="=" readonly>
    </div>
</div>