  <div class="container">
    <div class="row flew-row text-center">
      <div class="button col-sm border">C</div>
      <div class="button col-sm-3 border">/</div>
    </div>
    <div class="row flew-row text-center">
      <div class="button col-sm border">7</div>
      <div class="button col-sm border">8</div>
      <div class="button col-sm border">9</div>
      <div class="button col-sm border">x</div>
    </div>
    <div class="row flew-row text-center">
      <div class="button col-sm border">4</div>
      <div class="button col-sm border">5</div>
      <div class="button col-sm border">6</div>
      <div class="button col-sm border">-</div>
    </div>
    <div class="row flew-row text-center">
      <div class="button col-sm border">1</div>
      <div class="button col-sm border">2</div>
      <div class="button col-sm border">3</div>
      <div class="button col-sm border">+</div>
    </div>
    <div class="row text-center">
      <div class="button col-sm border">0</div>
      <div class="button col-sm-3 border">=</div>
    </div>
</div>